﻿
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

/* Float four columns side by side */
.column {
  float: left;
  width: 25%;
  padding: 0 10px;
}

/* Remove extra left and right margins, due to padding */
.row {margin: 0 -5px;}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive columns */
@*@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}*@

/* Style the counter cards */
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 16px;
  text-align: center;
  background-color: #f1f1f1;
}
    </style>
</head>
<body>

    @{
        ViewData["Title"] = "Home Page";
    }

    <div class="text-center">
        <h1 class="display-4">Welcome to laZuitt</h1>
        <br />
        <p>Book a course now! <a href="https://zuitt.co/?gclid=Cj0KCQjw-fmZBhDtARIsAH6H8qjSdZUaRdHcWC3DF_O4CBOMhbrnEFvT-yXVx-g9JdAJXwewnpEoJbcaArZWEALw_wcB">Zuitt Bootcamp</a>.</p>
    </div>


    <h2 style="text-align:center">Courses available</h2>
    <br>

    <div class="row">
        <div class="column">
            <div class="card">
                <h3>ASP.NET</h3>
                <p>Picture</p>
                <p>Course Description</p>
            </div>
        </div>

        <div class="column">
            <div class="card">
                <h3>Python</h3>
                <p>Picture</p>
                <p>Course Description</p>
            </div>
        </div>

        <div class="column">
            <div class="card">
                <h3>Django</h3>
                <p>Picture</p>
                <p>Course Description</p>
            </div>
        </div>

        <div class="column">
            <div class="card">
                <h3>Vue.js</h3>
                <p>Picture</p>
                <p>Course Description</p>
            </div>
        </div>
    </div>

</body>
</html>

